.header img {
  float: left;
  width: 100px;
  height: 100px;

}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.footer{
  float:right;
	 right: 0;
	 bottom: 0;
}

#order, #output, #delivery, #address, #pick-up, #new-order-button {
	display: none;
}
body{
	font-family: 'josefin Sans',sans-serif;
	font-size: 23px;
}
h3,h4{
	font-family: 'josefin Sans',sans-serif;
	font-size: 23px;

}
.glyphicon {
	font-size: 34px;
}

@media (max-width: 700px) {
  .container {
    margin-bottom: 100px;
  }
}
